body {
  width: 1300px;
  margin: 0 auto;
  position: absolute;
  background-color: #3F6066;
}

main {
  height: 400px;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Oxygen';
  display: block;
  color: #D9D0C8;
  text-shadow: 1px 1px 0 black;
}

img {
  /* Specificially for the gif that I couldn't manually resize in Photoshop without losing animation */
  height: 240px;
  /*flex-grow: 1;*/
  opacity: .5;
}

button {
  background-color: #06404B;
  color: #D9D0C8;
  margin: 5px;
  border: none;
}

button:hover {
  background-color: #6E5E50;
  border: none;
}

button:active {
  /*background-color: #417cb8;*/
  box-shadow: 0 5px #27496d;
  transform: translateY(2px);
  border: none;
}

img:hover {
  transform: scale(1.2);
  z-index: 500;
  justify-content: space-around;
  opacity: 1;
  box-shadow: 1px 1px 3px black;
}

#flex-container {
  padding-top: 10px;
  display: flex;
  width: 1000px;
  margin: auto;
  justify-content: space-around;
}

.image-section {
  position: relative;
  margin: 0 auto;
}

#canvas-section {
  margin-top: 40px;
  background-color: #fff;
}

#user-form {
  position: relative;
  top: 40px;
}
