body {
  width: 1200px;
  margin: 0 auto;
}

main {
  padding-top: 50px;
  height: 400px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

img {
  display: inline;
  /* Specificially for the gif that I couldn't manually resize in Photoshop without losing animation */
  height: 240px;
}

#canvas-chart {
  width: 1200px;
  height: 800px;
  text-align: center;
}

canvas {
  outline: 1px solid red;
  margin: 0 auto;
}
